services:
  rabbitmq:
    image: rabbitmq:3.13-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:15672"]
      interval: 30s
      timeout: 10s
      retries: 5
  backend:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq
      - db
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DUMP=true
      - QUEUE_HOST=rabbitmq
      - FILE_STORAGE_HOST=file-storage
  db:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: maxit
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 30s
      timeout: 10s
      retries: 5
  file-storage:
    ports:
      - "8888:8888"
    image: maxit/file-storage
    pull_policy: never
    volumes:
      - file-storage-media:/app/file-storage-media
  worker:
    image: seber/maxit-worker
    pull_policy: never
    depends_on:
      - file-storage
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - jobs-data:/tmp
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
      - DOCKER_HOST=unix:///var/run/docker.sock
      - JOBS_DATA_VOLUME=jobs-data
      - RESPONSE_QUEUE_NAME=worker_response_queue
      - WORKER_QUEUE_NAME=worker_queue
  frontend:
    image: maxit/frontend
    pull_policy: never
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - BACKEND_API_URL=http://backend:8000/api/v1
      - ORIGIN=http://localhost:3000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  file-storage-media:
  jobs-data:
    name: jobs-data
